.card {
    display: flex;
    box-shadow: 2px 2px 2px var(--black_op), -1px -1px 1px var(--black_op);
    border-radius: 16px;
    max-width: 80%;
    min-width: 300px;
    width: 100%;
    flex-direction: column;
    border-radius: 0.75rem;
    background-color: var(--gray);
    color: var(--text-color);
    position: relative;
    align-items: flex-start;
    /* Alinha todos os itens na parte superior */

}

.card:hover {
    cursor: pointer;
    background-color: var(--dark-gray_op);
}

.card .cardImage {
    width: 100%;
    height: 50vh;
    height: 300px;
    object-fit: cover;
    object-position: top;
    border-radius: 0.75rem 0.75rem 0 0;
    mask-image: linear-gradient(to bottom, rgba(0, 0, 0, 0.7), rgba(0, 0, 0, 0.7));
}

.card .cardFavorito,
.card .cardGerenciadores {
    position: absolute;
    top: 0;
    padding: 0.45rem;
    cursor: pointer;
}

.card .cardFavorito {
    border-radius: 0.75rem 0 0 0;
    background-color: var(--dark-gray);

}


.card .cardContainer {
    padding: 0.75rem 0.75rem;
    font-size: 0.75rem;
    display: flex;
    flex-direction: column;
    gap: 0.5rem;
    text-align: start;
    justify-content: center;
}

.cardNome {
    font-weight: bold;
}

.cardNome,
.cardLocalidade,
.cardClassificacao,
.cardDiaria {
    font-size: clamp(0.75rem, 2vw, 0.9rem);
    display: flex;
    gap: 0.75rem;
    align-items: center;
}

.card svg {
    color: var(--primary);
    font-size: 1rem;
}

@media (min-width: 720px) {
    .card {
        max-width: 300px;
    }
}


[data-theme=dark] .card {
    background-color: var(--dark-gray);
    color: var(--white);
}

[data-theme=dark] .card svg {
    color: var(--primary);
    font-size: 1rem;
}

[data-theme=dark] .card .cardFavorito {
    background-color: var(--dark-gray);

}

[data-theme=dark] .card .cardGerenciadores {
    background-color: var(--dark-gray);
}

[data-theme=dark] .card .cardGerenciadores svg {
    color: var(--danger);
}

[data-theme=dark] .card .cardGerenciadores svg:hover {
    color: var(--white);
}