.searchBarHeading,
.searchBarForm {
    display: flex;
    justify-content: center;
    align-items: center;
    gap: 0.5rem;
}

.searchBarForm {
    flex-direction: column;
}

.searchBarForm .searchBarInput {
    min-width: 150px;
    background-color: var(--white);
    border-color: var(--dark-gray);
    border: 1px solid var(--dark-gray);
    color: var(--dark-gray);
    padding: 0.25rem 0.75rem;
    border-radius: 0.5rem;
    font-size: 1rem;
    width: 100%;
}

.searchBarForm button {
    background-color: var(--primary);
    color: var(--white);
    padding: 0.25rem 1rem;
    border-radius: 0.5rem;
    width: 100%;
    font-size: 1rem;
    cursor: pointer;
    transition: background-color 100ms linear;
}

.searchBarForm button:hover {
    opacity: 0.9;
}

[data-theme=dark] .searchBarHeading {
    color: var(--black);
}

[data-theme=dark] .searchBarContainer {
    background-color: var(--white);
    color: var(--dark-gray);
}

[data-theme=dark] .searchBarForm button {
    background-color: var(--primary);
    color: var(--gray);
}