:root {
  --deep-blue: #0E59AC;
  --deep-blue-op: #0E59AC4d;
  --orange: #FD9B63;
  --orange-op: #FD9B634d;
  --wine: #B12F1F;
  --wine-op: #b12f1f4d;
  --purple: #5D3E9F;
  --purple-op: #5D3E9F4d;
  --white: #F1F1F1;
  --white-op: #F1F1F14d;
  --black: #2a2a2a;
  --black-op: #2a2a2a4d;
  --dark-gray: #5A5555;
  --dark-gray-op: #5A55554d;
  --gray: #EDEBEB;
  --gray-op: #EDEBEB4d;
  --danger: #730d0d;
  --danger-op: #730d0d4d;


  --bg-color: var(--white);
  --text-color: var(--black);
  --primary: var(--wine);
  --primary-op: var(--wine-op);
  --secondary: var(--purple);
  --secondary-op: var(--purple-op);

  font-family: Poppins, system-ui, Avenir, Helvetica, Arial, sans-serif;
  line-height: 1.5;
  font-weight: 400;

  color: var(--text-color);
}

html {
  min-height: 100vh;
  position: relative;
  background-color: var(--primary-op);
}

button {
  border: none;
  background-color: none;
}

@media (min-width: 720px) {
  html {
    padding-bottom: 80px;
  }
}

:root [data-theme=dark] {
  --bg-color: var(--black);
  --text-color: var(--white);
  --secondary: var(--wine);
  --secondary-op: var(--wine-op);
  --primary: var(--purple);
  --primary-op: var(--purple-op);
}